body
{
    background-color: #E5E6E7;
    margin-top: 46px;
}
#contenedor
{
    width: 100%;
    height: 800px;
    /*background-color: red;*/
}
#izquierda
{
    width: 50%;
    height: 799px;
    /*background-color: blue;*/
    float: left;
}
#derecha
{
    width: 50%;
    height: 799px;
    /*background-color: yellow;*/
    float: left;
}
#imglogin
{
    /*background-color: #0CF64E;*/
    width: 500px;
    height:500px;
    margin-top: 150px;
    margin-left: 100px;
    background-image: url(../../img/img_login.png);background-repeat: no-repeat;
    background-size: contain;
}
#imglogo
{
    /*background-color: #0CF64E;*/
    width: 500px;
    height:500px;
    margin-top: 150px;
    margin-left: 100px;
    background-image: url(../../img/img_logo.png);background-repeat: no-repeat;
    background-size: contain;
}
#botones
{	
    position: absolute;
    margin-top: 155px;
    margin-left: 320px;
    width: 160px;
    color: white;
}
#btnenviar
{
    border-style: none;
    border-radius: 4px;
    width: 85px;
    height: 20px;
    margin-left: 30px;
}
.btnslogin
{
    border-radius: 5px;    
    border-bottom: 1px solid #FFFFFF !important;
    box-shadow: 0 1px 0 0 #FFFFFF !important
}

.frm-login form{
    background-color: #FFFFFF;
    border: solid #008643 1px;
    padding: 36px;
}

.logo-client{
    position: fixed;
    bottom: -146px;
    left: 16px;
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0px 0px 17px 1px;
    -moz-box-shadow: 0px 0px 17px 1px;
    -o-box-shadow: 0px 0px 17px 1px;
    -ms-box-shadow: 0px 0px 17px 1px;
    box-shadow: 0px 0px 17px 1px;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

.logo-client img{
    max-width: 100px;
    margin-top: 16px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.imgFormLogin {
    width: 60%;
    height: 60%;
    padding-bottom: 22px;
}

.loading{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 20%;
    background-color: whitesmoke;
    z-index: 9999;
}
.logo-load{
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
.btnLogin{
    margin-top: 20px;
}

.input-field {
    margin-bottom: 20px;
}

/* Etiqueta */
.input-field input[type=text]:focus + label {
    color: #008643;
}
/* Línea */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #008643;
    box-shadow: 0 1px 0 0 #008643;
}
/* Línea con texto sin focusear */
input.valid {
    border-bottom: 1px solid #008643 !important;
    box-shadow: 0 1px 0 0 #008643 !important
}

/* Etiqueta focuseada */
.input-field input:focus + label {
    color: #008643 !important;
}

/* Línea focuseada */
.row .input-field input:focus {
    border-bottom: 1px solid #008643 !important;
    box-shadow: 0 1px 0 0 #008643 !important
}